#game-wrapper {
    display: none;
    text-align: center;
    margin-top: 30px;
}

#game {
    margin-top: 8px;
}

#flag {
    width: 55px;
    height: 30px;
    margin: 0 15px;
}

.tab {
    border: 1px solid #e3e3e3;
    padding: 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
    display: none;
}

.tab-top {
}

.tab-bottom {
    padding-bottom: 15px;
    line-height: 2.4;
}

.bold {
    font-weight: bold;
}

#restart-btn {
    margin-top: -2px;
    margin-left: 2px;
}

.no-border {
    border: none;
}

.table {
    font-size: 16px;
    margin-top: 100px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    position: relative;
}

#rank {
    display: none;
}

#p1-info {
    border: 3px solid #FE7727;
}

#p2-info {
    border: 3px solid #4263AF;
}