#game-wrapper {
    display: none;
    text-align: center;
    margin-top: 30px;
    /*-webkit-transform: scale(0.9, 0.8);*/
    /*-moz-transform: scale(0.9, 0.8);*/
    /*-ms-transform: scale(0.9, 0.8);*/
    /*-o-transform: scale(0.9, 0.8);*/
    /*transform: scale(0.9, 0.8);*/
}

#game {
    margin-top: 8px;
}

#flag {
    width: 55px;
    height: 30px;
    margin: 0 15px;
}

.tab {
    border: 1px solid #e3e3e3;
    padding: 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
    display: none;
}

.tab-top {
}

.tab-bottom {
    padding-bottom: 15px;
    line-height: 2.4;
}

.bold {
    font-weight: bold;
}

#restart-btn {
    margin-top: -2px;
    margin-left: 2px;
}

.no-border {
    border: none;
}