<html>
<head>
    <title>Hello World!</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body><input type="button" id="target2">
<div id="output"></div>
<input type="button" id="target">
<script>
    jQuery(function($){
        var host = "ws://localhost:8080/friend";
        var socket = new WebSocket(host);
        var id;
        $( "#target2" ).click(function() {
             var wiad = '{"action": "friend", "msg": 2, "id": '+id+'}';
            socket.send(wiad);
        });


        $( "#target" ).click(function() {
            var x = id/1000;
            var y = id/1000;
            var wiad = '{"action": "play", "x": '+x+', "y": '+y+', "time": 100, "id": '+id+'}';
            socket.send(wiad);
        });
        if(socket){
              socket.onopen = function(){
                showServerResponse("connection opened....");
              }

              socket.onmessage = function(msg){
                var obj = JSON.parse(msg.data);

                if(obj["action"] == "init"){
                    id = obj["msg"];
                    showServerResponse("Your id:"+id);
                }
                else{
                    showServerResponse(obj["msg"]);
                }
              }

              socket.onclose = function(){
                showServerResponse("connection closed....");
              }

            }else{
              console.log("invalid socket");
            }

            function showServerResponse(txt){
                var p = document.createElement('p');
                p.innerHTML = txt;
                document.getElementById('output').appendChild(p);
            }
    });






</script>
</body>
</html>