<html>
<head>
    <title>Hello World!</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
<div id="output"></div>
<script>
    jQuery(function($){
        var host = "ws://localhost:8080/socket";
        var socket = new WebSocket(host);
        var id;

        if(socket){
              socket.onopen = function(){
                showServerResponse("connection opened....");
                msg = '{"id": 1, "msg": "dupadupa"}';
                socket.send(msg);
              }

              socket.onmessage = function(msg){
              var obj = JSON.parse(msg.data);

                if(obj["id"]){
                    id = obj["id"];
                    showServerResponse(id);
                }
                else{
                    showServerResponse(obj["msg"]);
                }
              }

              socket.onclose = function(){
                showServerResponse("connection closed....");
              }

            }else{
              console.log("invalid socket");
            }

            function showServerResponse(txt){
                var p = document.createElement('p');
                p.innerHTML = txt;
                document.getElementById('output').appendChild(p);
            }
    });





</script>
</body>
</html>